.register-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.mat-card {
  padding: 20px;
}

.form-field {
  width: 100%;
  margin-bottom: 20px;
}

.submit-button {
  width: 100%;
  margin-top: 20px;
}
