.article-view-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  inLineclass{
    display: inline-block;
  }

  .comment-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
  border-radius: 5px;
  }

  
  
  .sub-comments {
    margin-left: 20px;
    margin-top: 10px;
  }
  
  .comment-body {
    font-weight: bold;
  }
  
  .comment-author {
    font-style: italic;
    margin-bottom: 5px;
  }
  

  
  .sub-comment-card {
    background-color: #e8e8e8;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .sub-comment-body {
    font-weight: bold;
  }
  
  .sub-comment-author {
    font-style: italic;
    margin-bottom: 5px;
  }
  
  .comment-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
  }
  
  .comment-options-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .comment-input-form {
    margin-top: 20px;
  }
  
  .comment-input-form input {
    width: 100%;
    padding: 5px;
  }
  
  .comment-input-form button {
    margin-top: 10px;
  }
  
  
  
  
  
  
  