<!-- app.component.html -->
<mat-toolbar color="second">
        <button mat-button [routerLink]="['/logs']">Logs</button>
        <button mat-button [routerLink]="['/estadisticas']">Estadísticas</button>
        <button mat-button [routerLink]="['/ranking']">Ranking de Usuarios</button>
        <button mat-button [routerLink]="['/palabras-ofensivas']">Palabras Ofensivas</button>
        <button mat-button [routerLink]="['/articulos-revision']">Artículos en Revisión</button>
        <button mat-button [routerLink]="['/comentarios-revision']">Comentarios en Revisión</button>
        <button mat-button [routerLink]="['/editar-usuarios']">Editar Usuarios</button>
 
    
  </mat-toolbar>
  <router-outlet></router-outlet>
  