<mat-toolbar color="second" routerLinkActive="activate-link">
      <button mat-button [routerLink]="['/logs']" routerLinkActive="active-link">Logs</button>
      <button mat-button [routerLink]="['/stats']" routerLinkActive="active-link">Estadísticas</button>
      <button mat-button [routerLink]="['/ranking']" routerLinkActive="active-link">Ranking de Usuarios</button>
      <button mat-button [routerLink]="['/palabras-ofensivas']" routerLinkActive="active-link">Palabras Ofensivas</button>
      <button mat-button [routerLink]="['/articulos-revision']" routerLinkActive="active-link">Artículos en Revisión</button>
      <button mat-button [routerLink]="['/comentarios-revision']" routerLinkActive="active-link">Comentarios en Revisión</button>
      <button mat-button [routerLink]="['/editar-usuarios']" routerLinkActive="active-link">Editar Usuarios</button>
</mat-toolbar>
<router-outlet></router-outlet>

  