<mat-toolbar color="primary">
  <span>BlogsApp</span>
  <span class="spacer"></span>
  <span>Bienvenido, {{ username }}</span>
  <span class="spacer"></span>
  <button mat-button>Panel Administrador</button>

  <!-- Este es el botón que abrirá el menú -->
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <!-- Aquí definimos el menú con dos opciones -->
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="toMyArticles()">Mis Artículos</button>
    <button mat-menu-item routerLink="/add">Crear Artículo</button>
    <button mat-menu-item routerLink="/importer">Importar Articulo</button>
    <button mat-menu-item routerLink="/editUser">Editar Perfil</button>
    <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
  </mat-menu>
</mat-toolbar>
