.article-view-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.in-line {
  display: inline;
}

.add-comment {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.comment-card {
  margin-bottom: 20px;
}

.comment-header {
  margin-bottom: 10px;
}

.sub-comments {
  margin-left: 10px;
}

.custom-button {
  margin: 10px;
}